/**header**/
header div{
    display:grid;
    background-color: green;
    width: 50%;
    height: 200px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    border-color: black;
    border-width:4px;
    border-style:solid;
    border-radius:16px;
}

.divider{
    display:grid;
    background-color:white;
    height:16px;
}

.links{
    display:grid;
    background-color:aqua;
    width: 50%;
    height:auto;
    text-align: left;
    Margin-left:25%;
    margin-right:25%;
    border-style:solid;
    border-color:black;
    border-width:4px;
    border-radius:16px;

}
